[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
