<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
    {% block head_description %}
        <meta name="description" itemprop="description" content="Finding the perfect
        name for your baby can be a big task. Gather name ideas
        and inspiration here, and learn how to make the decision.">
    {% endblock %}

    {% block head_description %}
        <meta name="keywords" content="baby name, baby boy name,
        baby girl name, online poll, popular baby names, pregnancy,
        name by state, name in US,
        USA names, popular, first name, surname,
        mom, dad, babies naming, parenting, name meaning, babyname, babyname.site">
    {% endblock %}

    <meta name="referrer" content="always">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8168808078936364",
        enable_page_level_ads: true
      });
    </script>

</head>
<body>
<div class="header">
    <span>BaBy NaMeS</span>
</div>
<div class="baby-names">
    <div class="row ">
        <div class="col-xs-12">
            <p>Advertiser</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-12
                    col-sm-8
                    col-md-8">
        {% block main_content %}{% endblock %}
        </div>
        <div class="col-xs-12
                    col-sm-4
                    col-md-4">
            <p>Advertiser</p>
        </div>
    </div>
</div>


<script src="http://localhost:35729/livereload.js"></script>

</body>
</html>