<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>
		Baby Names
	</title>
<link href="https://storage.googleapis.com/babynames-199117/static/main.784dc1548ff761ac2731.css" rel="stylesheet"></head>
<body>
<div class="header">
    <span>BaBy NaMeS</span>
</div>
<div class="baby-names">
    <div class="row ">
        <div class="col-xs-12">
            <p>Advertiser</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-12
                    col-sm-8
                    col-md-8">
        {% block main_content %}{% endblock %}
        </div>
        <div class="col-xs-12
                    col-sm-4
                    col-md-4">
            <p>Advertiser</p>
        </div>
    </div>
</div>


<script src="http://localhost:35729/livereload.js"></script>

<script type="text/javascript" src="https://storage.googleapis.com/babynames-199117/static/main.784dc1548ff761ac2731.js"></script></body>
</html>